/* Write your custom CSS here */
.sign-out {
    height: auto;
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding: 15px 0;
}

.sign-out a {
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
    width: 100%;
    display: block;
    padding: 5px 10px;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.temp {
    display: none;
}